<img src="../imgs/greenbg.png" class="bg-img">

<div class="container px-4 mb-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 px-2">
            <div class="info-header px-4 text-center pt-3">>> your new favorite way to get books</div>
            <div class="info p-4">
                Got too many books at home but still hungry for more titles? Let us help!  With <span>forword</span>, you can trade your old books and get new books from other avid readers from all over the country. Here's how it works:
            </div>
        </div>
        <div class="col-lg-7">
            <img src="imgs/howto.png" class="d-block mx-auto img-fluid" id="infographic">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-7 order-1 order-lg-2">
            <div class="info-header px-4 text-center pt-3">>> your book journey awaits</div>
            <div class="info p-4">
                {{#if first_name}}
                <a href="/books_available">request a book</a> or <a href="/book/search">list a book you own</a>!
                {{else}}
                login above or <a href="/signup">create an account</a> now!
                {{/if}}
            </div>
        </div>
        <div class="col-lg-5 order-2 order-lg-1">
            <img src="../imgs/laura-kapfer-hmCMUZKLxa4-unsplash.jpg" class="img-fluid img-rounded">
            <div class="caption">Photo by <a href="https://unsplash.com/@kapfii?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Laura Kapfer</a> on <a href="https://unsplash.com/s/photos/book-plant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></div>
        </div>
    </div>
</div>