<div class="container px-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-4 px-2">
        <div class="row">
            <div id="top-bar" class="px-4 text-center pt-3"><h3>About Us</h3></div>
            <div id="info" class="p-4">
            Got too many books at home but still hungry for more titles? Let us help!  With <span>forword</span>, you can trade your old books and get new books from other avid readers from all over the country. Here's how it works:
            </div>
        </div>
        </div>
        <div class="col-sm-8">
            <img src="imgs/howto.jpg" class="d-block mx-auto img-fluid" id="infographic">
        </div>
    </div>
</div>