<div id="top-bar"><h3>About Us</h3></div>
<div id="info">Got too many books at home but still hungry for more titles? Let us help!  With forword, you can trade your old books and get new books from other avid readers from all over the country. Here's how it works:</div>
<img id="infographic" src="imgs/howto.jpg">
