<link rel="stylesheet" href="/css/about.css">

<div class="container mb-3">
    <div class="largeHeader">
        FAQS
        <i class="fa fa-question-circle"></i>
    </div>
    <div id="question-content">
        <div class="question">
            <h3>What can I do with my forword account?</h3></div>
            <p>Once you've created an account, you can list books that you own and would like to swap, create a wishlist of books you want to read later, and request, accept, or decline swaps from other users.</p>
        <div class="question"> 
            <h3>How do I add books to my account?</h3></div>
            <p>Starting from your account dashboard, click the "add new book" button to search for books. If the book you're looking for isn't in our database, you will have the option to add it to our library. Once you've found the book you're looking for, you can click on the option to add it to your book list or your wishlist.</p>
        <div class="question">
            <h3>What are my points for?</h3></div>
            <p>Points are forword's "currency." Every time you add a book to your booklist, you receive one point. When you request a swap, you must have enough points to pay for the book.</p>
        <div class="question">
            <h3>What happens to my points after a swap?</h3></div>
            <p>When a swap is initiated, the requestor will have the cost of the book deducted from their total points. If the sender accepts the swap, the points are transferred to their account. If the swap is rejected by the sender, the requestor will receive the points back for the book.</p>
            <p>Note: If a swap does not go smoothly (e.g. lost in transit or book received in poorer condition), refunds can be processed.</p>
        <div class="question">
            <h3>Wait, but how do I swap?</h3></div>
            <p>To request a swap, navigate to the 'books available' link in the menu to see books that are available to be swapped. You can filter to see books you are able to afford with your current number of points.</p>
            <p>If someone requests a swap to you, you will receive a notification on your account dashboard along with the ability to accept or reject the request. If you decided to accept the swap, you will be given the user's shipping address so you know where you send the book.</p>
            <p>You are able to see a list of current and past swaps that have been requested to and from you in your account dashboard as well.</p>
        <div class="question">
            <h3>What if my requested swap doesn't arrive or is in different condition than was listed on the website?</h3></div>
            <p>If your book does not arrive in 4 days after shipment, you will have the option to mark the swap as 'Not Received' in the Swaps section of the account dashboard. If the user who shipped the book has reached their limit on the number of packages lost, a refund will be processed immediately. If the package was lost in transit, and is marked as such by the user who shipped the book, points will not be refunded.</p>
            <p>If a book arrives in poorer condition than was listed, you can will have the option to mark the swap as 'Received in Poorer Condition' where a claim will be opened for review by a forword member. Points will be re-distributed as appropriate.</p>
        <div class="question">
            <h3>What if the book I sent gets lost in the mail?</h3></div>
            <p>Every user gets a loss limit of 1 book, just in case a book gets lost in the mail. Once that limit is reached, you will lose points you gained from the swap and the other user will be refunded automatically.</p>
        <div class="question">
            <h3>How does the book search work?</h3></div>
            <p>Our book search is wonderfully powered by <a href="https://openlibrary.org/" target="_blank">OpenLibrary</a>.</p>
            <p>Just type in the title (or author) you're looking for and hit 'search' !</p>
        <div class="question text-center">
            <h3>Still have questions? <a href="mailto:addiegoe@oregonstate.edu">Contact us!</a></h3>
        </div>
    </div>
</div>
