<link rel="stylesheet" href="/css/book.css">

<div class="container">
    <h2>Didn't find your book?</h2>
    Add it to our library here:
    <div class="row">
        <form action="/book/create-book" action="POST">
            <input type="text" name="title" placeholder="Book Title" required>
            <input type="text" name="author" placeholder="Author" required>
            <input type="text" name="description" placeholder="Book Description">
            <input id="bol_key" name="bol_key" hidden="true">
            <input id="aol_key" name="aol_key" hidden="true">
            <button type="submit" formmethod="post" formaction="/book/create-book" class="btn btn-primary">Add New Book</button>
        </form>
    </div>
</div>

<span class="hidden" id="allOlKeys">{{keys}}</span>

<script src="../scripts/createbook.js"></script>