<div>
    <form id="create-thread" method="POST">
        <input type="text" name="title" placeholder="Enter thread title.." required><p>
        <input type="text" name="message" placeholder="Enter message.." required><p>
        <input type="submit" name="create-thread-button" value="Create">
    </form>
</div>
