<div class="container">
    <h2>Didn't find your book?</h2>
    Add it to our library here:
    <div class="row">
        <form action="">
            <input type="text" name="title" id="newTitle" placeholder="Book Title" required>
            <input type="text" name="author" id="newAuthor" placeholder="Author" required>
            <input type="text" name="description" id="newDescription" placeholder="Book Description">
            <input type="submit" value="Submit New Book" id="submitCreBtn">
        </form>
    </div>
    <div class="row">
        <span id="confirmCreate"></span>
    </div>
    <div class="row">
        <a href="#" id="newLink" class="hidden">Click here to see new book</a>
    </div>
</div>

<span class="hidden" id="allOlKeys">{{keys}}</span>

<script src="../scripts/addbook.js"></script>