<div class="container mt-2">
    <div>
        <a href="/forum">Go Back</a>
    </div>
    <div class="col-10 my-4 create-thread-container">
        <div class="my-3 text-center">
            <h2>Create a new thread!</h2>
        </div>
        <form id="create-thread" action="/forum/create" method="POST">
            <h5>&nbspEnter the thread title:</h5>
            <input id="thread-title-input" type="text" name="title" placeholder="What's the book where..." required><p>
            <div class="padding"></div>
            <h5>&nbspAdd the first message:</h5>
            <div>
                <div id="text-editor"></div>
                <input type="hidden" id="text-input" name="message" required><p>
                <input type="submit" class="mt-2  mr-2 row ml-auto" name="create-thread-button" value="Create">
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
<script src="../scripts/thread.js">
