<form id="deleteForm" form action="/account/delete" method="POST">
    <input type="hidden" name="user_id" value={{u_id}}>
    <input type="submit" name="deleteBtn" value="delete my account!">
</form>