<link rel="stylesheet" href="/css/book.css">
<div class="container">
    <div class="row"><h2>Search For Books</h2></div>
    <div class="row">
        <form>
            <input type="text" name="searchText" id="searchText" placeholder="Search for books">
            <input type="submit" value="Submit" id="searchSubmit">
        </form>
    </div>

    <div class="row">
        <span id="loadingText"></span>
    </div>
</div>

<div class="container hidden" id="resultsDiv">
    <div class="container" id="searchResults">
        {{!-- Insert results here --}}
    </div>
    <div class="container hidden" id="noFind"> <div class="row info text-center"><strong>Can't find your book?</strong>&emsp;Add it&emsp;<a href="/book/create-book">here!</a> </div> </div>
</div>

<script src="../scripts/searchbook.js"></script>