<link rel="stylesheet" href="../css/signup.css">
<div class="container">
    <div class="my-3 text-center">
        <h2>Sign Up for an Account:</h2>
        You've made a great choice
    </div>
    <div class="mx-auto">
        <div class="text-center">
            <form id="signupForm" form action="create" method="POST" class="mb-3">
                <input type="text" name="first_name" placeholder="first name" required>
                <P></P>
                <input type="text" name="last_name" placeholder="last name" required>
                <P></P>
                <input type="text" name="email" placeholder="email" required>
                <P></P>
                <input type="text" name="street" placeholder="street" required>
                <P></P>
                <input type="text" name="city" placeholder="city" required>
                <P></P>
                <input type="text" name="state" placeholder="state" required>
                <P></P>
                <input type="text" name="zip" placeholder="zip" required>
                <P></P>
                <input type="password" name="password" placeholder="password" required>
                <P></P>
                <input type="submit" name="signupBtn" value="signup!">
            </form>
            <P>Note: All fields are required for signup</P>
            <div class="row" color="red">
                {{#if err}}
                    <P>{{err}}</P>
                {{/if}}
            </div>
        </div>
    </div>
</div>
