Search for users by:
  <form id="search_user">
    <select name ="search">
      <option value="1" id="f_name">First Name</option>
      <option value="2" id="l_name">Last Name</option>
      <option value="3" id="email">email address</option>&nbsp;&nbsp;
    <input id="filter" type="text" required><br>
    <button id="searchBtn">Search</button>
  </form>
