.question {
    background-color: #1b6ca8;
    padding:1px;
    border-radius: 8px;
}

.question h3 {
    color:white;
    padding:8px 10px 3px;
    font-size:20px;
    font-weight:bold;
}

.question a {
    color:#85C4A1;
}

.largeHeader{
    color: #184d47;
    font-size: 200%;
    text-align:center;
    padding:20px;
}

#question-content p {
    margin: 5px 10px 20px;
}

.dictionary {
    background-color: rgb(245, 245, 245, .97);
    padding: 1.5em;
    border-radius: 0px 0px 15px 15px;
    border-top: 3px solid rgb(128, 128, 128, 0.5);
    width: 90%;
}

#fw {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1b6ca8;
    line-height: 50%;
}