#resultsDiv {
    margin-bottom: 20px;
}
  
.searchResult {
    padding: 20px;
    border-radius: 15px;
}
  
.searchResult:hover {
    border-radius: 15px;
    background-color: #F8F3EA;
    box-shadow: gray 0px 1px 2px 0px;
    padding: 20px;
}

.info {
    border-radius: 10px;
    background-color: #dcedc1;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px grey;
    font-size: 1.1rem;
    margin-top: 15px;
}

#separation {
    width: 75%;
}

.coverArt {
    border-radius: 3px;
    box-shadow: -5px 5px 5px rgba(155, 155, 155, 0.5);
}

h3 {
    color: #1b6ca8;
}

h2 {
    color: #184d47;
}