#resultsDiv {
    margin-bottom: 20px;
}
  
.searchResult {
    padding: 20px;
    border-radius: 15px;
}
  
.searchResult:hover {
    border-radius: 15px;
    background-color: #F8F3EA;
    box-shadow: gray 0px 1px 2px 0px;
    padding: 20px;
}

.note {
    border-radius: 10px;
    background-color: #dcedc1;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px grey;
    font-size: 1.1rem;
    margin-top: 15px;
}

#separation {
    width: 75%;
}

.coverArt {
    border-radius: 3px;
    box-shadow: -5px 5px 5px rgba(155, 155, 155, 0.5);
}

.result {
    color: #1b6ca8;
}

.result p {
    color: #342B38;
}

h3 {
    color: #1b6ca8;
}

#confirm {
    text-align: center;
    color: #1b6ca8;
}

h2, h4 {
    color: #184d47;
}

.bookContainer {
    background-color: #f9f9f9;
    margin-top: -0.5%;
    border-bottom: 1px solid rgba(88, 141, 168, 0.33);
    box-shadow: 0px 1px 5px rgb(128, 128, 128, 0.15);
}

#points-help {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
}

#tooltip {
    display: none;
    position: absolute;
    background: #fffdd0;
    border-radius: 3px;
    padding: 3px;
    font-size: 10px;
}

.loading {
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
}

.loading div {
    position: fixed;
    left: 42%;
    top: 33%;
    text-align: center;
}

#loader {
    position: absolute;
    top: -16px;
    left: 11px;
    width: 160px;
    height: 160px;
    border: 16px solid #DDDDDD;
    border-top: 16px solid #1b6ca8;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    z-index: -1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }