body{
    color: #184d47;
}

/* Reference: https://www.w3schools.com/howto/howto_js_tabs.asp*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    text-align: center;
  }
  
.smallHeader{
    color: grey;
    text-transform: uppercase;
    font-size: smaller;
    color: #7e97a6;
}

.largeHeader{
    color: blue;
    font-size: 175%;
    color: #1b6ca8;
}

table, th {
    text-align: center;
    border: none;
    padding: 5px;
    border-collapse: separate;
    border-spacing: 1em .5em;
}

.dashboard-top{
    border-radius: 10px;
}

.points{
    color: #007944;
    font-weight: bolder;
}

.section {
  border: 1px solid #71a0a5;
  border-top: none;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-top{
  padding: 5px;
  padding-bottom: 1px;
  margin-top: 15px;
  background-color: #1b6ca8;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#swap-notifications {
  background-color: #b8e9c0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  font-size: 105%;
  margin-bottom: 10px;
  color: black;
  letter-spacing: 1.1px;
  max-width: 50%;
  box-shadow: 3px 3px gray;
  text-align: center;
}

#notify {
  margin-left: 5px;
  color: red;
  font-weight: bold;
}

/* #71a0a5 */
/* #018383 */
