.thread-page-container {
    margin: 0 auto;
    width: 800px;
}

.topic-container {
    display: flex;
}

.title {
    width: 90%;
}

.resolve {
    width: 21%;
}

.message-individual {
    padding: 5px;
}

.user-details {
    font-size: 12px;
}
