.thread-page-container {
    margin: 0 auto;
    width: 800px;
}

.topic-cell {
    width: 350px;
}

.topic-container {
    display: flex;
}

.title {
    width: 90%;
}

.resolve {
    width: 21%;
    text-align: right;
}

.message-individual {
    padding: 5px;
}

.user-details {
    font-size: 12px;
}


/* most styling from: https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/
blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}


.forum-card {
    background-color: white;
    width: 100%;
    border: 1px solid #e4e3e3;
    box-shadow: 1px 1px 2px #979797,
                1px 0px 1px white;
    border-radius: 5px;
    margin-bottom: -5px;
}

.section {
    border: 1px solid #588da8;
    border-top: none;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f9f9f9;
    color: #204051;
}
  
.section-top{
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 6px;
    background-color: #588da8;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    font-size: 133%;
}

.title-icon {
    font-size: 150%;
    color: #8ccbbe;
}


a {
    color: #4a6185;
}

.date {
    color: #84a9ac;
}

.user {
    color: #127681;
}

.thread-page-container h1{
    padding-top: 20px;
    font-weight: bold;
    font-size: 275%;
}

.fa-columns {
    font-size: 150%;
}