<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>forword - BookSwap</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forum.css">

</head>
<body>
    
    <div class="container-fluid">
        <div class="row topHeader">
            <div class="col-12 col-md-4"><a href="/"><img src="/imgs/forwordheader.png" id="fwLogo"></a></div>
            <div class="col-12 col-md-8 mx-auto d-md-block px-md-0 mt-lg-3">
                {{#if first_name}}
                <div class="row d-block text-center text-md-right"></div>
                    <form id="logoutForm" form action ="/user/logout" method="POST" class="inline-form text-center text-md-right mr-md-3">
                    <span style="font-size: 2em;">Welcome back, {{first_name}}!</span>
                    <input name = "logoutBtn" type="submit" value="Logout" class="btn btn-warning"></form>
                </div>
                {{else}}
                <div class="row login d-block text-center text-md-right">
                        <form id="loginForm" form action="/login" method="POST">
                            <input type="text" name="email" placeholder="email" required><input type="password" name="password" placeholder="password" required>
                            <input name="loginBtn" type="submit" value="go!">
                        </form>                    
                </div>
            <div class="row d-block text-center text-md-right mr-md-3">
                {{#if bad_login}}
                    <p style="color: red;">Invalid login credentials</p>
                {{/if}}
                not a member? &nbsp; <a href="/signup">create an account!</a>
            {{/if}}
            </div>
            </div>
        </div>
    </div>
        

    <nav class="navbar navbar-light navbar-expand-sm sticky-top" id="mainNavBar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarText"  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row justify-content-center" id="navBarText">
          <ul class="navbar-nav">
             {{#if first_name}}
              <li><a href="/account" class="nav-link">my account</a></li>
              <li><a href="/books_available" class="nav-link">available books</a></li>
              <li><a href="/book/search" class="nav-link">search books</a></li>
              <li><a href="#" class="nav-link">search users</a></li>
              <li><a href="/forum" class="nav-link">forum</a></li>
              {{else}}
              <li><a href="/books_available" class="nav-link">available books</a></li>
              {{/if}}
              <li><a href="/about_us" class="nav-link">about</a></li>
          </ul>
      </div>
    </nav>

    {{{body}}}

    <!-- BootStrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
